@mixin menu-item-card {
  .menu-item {
    height: 9% !important;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 3px 3px #F8F9F9;
    // #F4F6F7;
    border-radius: 4px;
    flex-grow: 0;
    flex-basis: auto;
    margin: 0 3% 5% 0;
    position: relative;
    bottom: 0px;
    .img-item-and-description {
      position: relative;
      height: 200px;
      .content-item-img {
        height: 100%;
        width: 100%;
        border-radius: 3px
      }
      .content-item-description {
        position: absolute;
        z-index: 3;
        opacity: 0;
        background-color: rgba(0,0,0, 0.2);
        color: white;
        height: 99%;
        width: 100%;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        p {
          color: white;
          font-family: 'granary';
          font-size: 16px;
        }
      }
    }
    .content-details-and-desc {
      .item-card-desc {
        padding-left: 3%;
        .content-desc-name {
          font-family: 15px;
          font-family: 'granary'
        }
        .content-desc-title {
          font-family: 'apercu';
          width: 98%;
          font-size: 13px;
          margin-top: -1%;
          color: #626567

        }
      }

      .content-owner-image-and-time {
        float: right;
        padding-right: 4%;
        margin-top: -1%;
        .caterer-name {
          font-family: 'gotham';
          font-size: 11.5px;
        }
        .time-posted {
          font-family: 'acumin';
          font-size: 10px;
          color: #ff183f;
          margin-top: -4%;
        }
      }
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 6px #F8F9F9;
    }
  }
}

@mixin meal-item-card {
    .display-menu-item {
      width: 50%;
      display: flex;
      flex-flow: column nowrap;
      border-radius: 3px;
      position: absolute;
      background-color: white;
      top: 0;
      z-index: -1;
      opacity: 0;
      flex-basis: 90%;
      box-shadow: 0 0 20px 7px #F2F3F4;
      .main-meal-item-img {
        flex-basis: 40%;
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
      .item-title-and-description {
        display: flex;
        flex-flow: column nowrap;
        padding-left: 4%;
        .item-title-main {
          font-family: 'gotham';
          font-size: 16px;
          margin-bottom: -6px;
          color: #1D2129;
          width: 90%;
        }
        .item-description {
          font-family: 'apercu';
          font-size: 13px;
          width: 90%;
          color: #4B4F56;
        }
      }
      .buttons-array-and-togglers {
        display: flex;
        flex-flow: row nowrap;
        flex-basis: 10%;
        border-top: 1px solid #efefef;
        p {
          color: #90949C;
          font-family: 'acumin';
          font-size: 12.5px;
          opacity: 0.6;
        }
        .option-options {
          flex-basis: 85%;
          padding-left: 5%;
          &:hover {
            cursor: pointer;
            color: #ff183f;
            opacity: 0.8;
          }
        }
        .option-options2 {
          flex-basis: 15%;
          &:hover {
            color: #4B4F56;
          }
        }
      }
    }
}

@keyframes scale-up {
  0% { transform:translate(0, 0);}
  50% { transform:translate(0, -5px);}
  75% { transform: translate(0, -10px);}
  100% { transform:translate(0, -15px);}

}
