@font-face {
  font-family: granary;
  src: url('./fonts/granary.otf');
}

@font-face {
  font-family: gotham;
  src: url('./fonts/gotham-b.ttf');
}

@font-face {
  font-family: acumin;
  src: url('./fonts/acumin.otf');
}
@font-face {
  font-family: apercu;
  src: url('./fonts/apercu.otf');
}

@keyframes fadein {
    0% { opacity: 0}
    25% { opacity: 0.25}
    50% { opacity: 0.5}
    75% { opacity: 0.75}
    100% { opacity: 1}
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    order: 6;
    flex-grow: 1;
  }
  .home-tag {
    padding-left: 3%;
  .logo {
      font-size: 23px;
      font-family: 'gotham';
    }
    .logo:hover {
      cursor: pointer;
    }
  }
  .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
    p {
      font-size: 16px;
      text-transform: capitalize;
      font-family: 'apercu';
    }
    p:hover {
      cursor: pointer;
      color: #E74C3C;
    }
  }}

  footer {
    margin-top: 5%;
    border-top: 1px solid #efefef;
    display: flex;
    min-height: 100px;
    padding: 2% 3% 0 3%;
    background-color: white;
    justify-content: space-between;
    .footer-log-left {
      font-size: 20px;
      font-family: 'granary';
    }
    .get-fed-button {
      font-size: 14px;
      font-family: 'apercu';
      margin-top: -10px;
      color: #7B7D7D;
      #i-heart {
        position: relative;
        bottom: -3px;
        color: #ff183f;
        margin-left: 2px;
      }
    }
    .footer-log-right {
      font-family: 'apercu';
      font-size: 13px;
      color: #7B7D7D;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

  }
  .fade-in {
    display: flex;
    animation-name: fadein;
    animation-duration: 0.5s;
    opacity: 1 !important;
    z-index: 10 !important;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .header {
      .logo {
        font-size: 18px !important;
      }
      .header-buttons {
        p {
          font-size: 14px !important;
        }
      }
    }
    footer {
      .footer-log-left {
        font-size: 17px !important;
      }
      .get-fed-button {
        span {
          display: none;
        }
      }
      .footer-log-right {
        font-size: 12px !important;
        width: 30%;
      }

    }

  }
