body {
  background-color: grey;
  min-height: 600px; }

@font-face {
  font-family: granary;
  src: url("./fonts/granary.otf"); }

@font-face {
  font-family: gotham;
  src: url("./fonts/gotham-b.ttf"); }

@font-face {
  font-family: acumin;
  src: url("./fonts/acumin.otf"); }

@font-face {
  font-family: apercu;
  src: url("./fonts/apercu.otf"); }
