@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px); }
  75% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  100% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px); } }

@keyframes scale-up {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px); }
  75% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  100% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px); } }

body {
  background-color: white;
  position: relative; }
  body .activity-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    min-height: 200px;
    background-color: white;
    border-top: 1px solid #efefef;
    min-width: 100%;
    padding-bottom: 3%;
    z-index: 10; }
    body .activity-bar .activity-side-one {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      padding-top: 1%; }
      body .activity-bar .activity-side-one .point-to-items {
        margin: 0 auto;
        font-size: 15px;
        text-transform: uppercase;
        font-family: 'acumin'; }
      body .activity-bar .activity-side-one .summary-tab {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
        body .activity-bar .activity-side-one .summary-tab .activity-tab-def {
          font-size: 15px;
          font-family: 'gotham';
          color: #ff7262; }
        body .activity-bar .activity-side-one .summary-tab p {
          color: #A6ACAF;
          font-family: 'apercu';
          font-size: 11.5px; }
          body .activity-bar .activity-side-one .summary-tab p:hover {
            text-decoration: underline;
            cursor: pointer; }
        body .activity-bar .activity-side-one .summary-tab .move-down {
          position: relative;
          bottom: -2px; }
        body .activity-bar .activity-side-one .summary-tab span {
          color: #ff7262;
          font-size: 10.5px;
          position: relative;
          bottom: -0.4px;
          right: -3px; }
      body .activity-bar .activity-side-one .items-currently-in-cart {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 5%; }
        body .activity-bar .activity-side-one .items-currently-in-cart .items-currently-in-stock {
          min-height: 40px;
          -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
          width: 60%;
          margin: 2% 1% 0 0;
          color: #979A9A;
          font-size: 14.5px;
          font-family: 'apercu';
          border-radius: 2px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
    body .activity-bar .activity-side-two {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }
      body .activity-bar .activity-side-two .check-out-button {
        width: 50%;
        height: 30px;
        background-color: #3ec28f;
        color: white;
        text-align: center;
        padding-top: 3%;
        border-radius: 2px;
        font-family: 'apercu';
        font-size: 13px; }
        body .activity-bar .activity-side-two .check-out-button:hover {
          cursor: pointer; }
      body .activity-bar .activity-side-two .close-item {
        font-size: 10.5px;
        font-family: 'apercu';
        -ms-flex-item-align: end;
        align-self: flex-end; }
        body .activity-bar .activity-side-two .close-item:hover {
          cursor: pointer;
          color: #ff183f; }
  @media only screen and (max-width: 480px) {
    body .activity-bar {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -ms-flex-flow: column nowrap !important;
      flex-flow: column nowrap !important; }
      body .activity-bar .activity-side-one .point-to-items {
        font-size: 13px !important;
        font-family: apercu !important; }
      body .activity-bar .activity-side-one .items-currently-in-cart {
        -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
        justify-content: space-evenly !important;
        margin-top: 4%; }
        body .activity-bar .activity-side-one .items-currently-in-cart .items-currently-in-stock {
          font-size: 12px !important; }
      body .activity-bar .activity-side-two {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin-top: 5%; }
      body .activity-bar .close-item {
        position: relative;
        left: -5%;
        text-decoration: underline; } }
  body .main-menu-page-body {
    min-height: 600px; }
    body .main-menu-page-body .menu-title-and-owner-grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      padding-top: 3%;
      margin-bottom: 4%; }
      body .main-menu-page-body .menu-title-and-owner-grid .content-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        width: 40%; }
        body .main-menu-page-body .menu-title-and-owner-grid .content-details .content-avatar {
          height: 110px;
          width: 110px;
          border-radius: 50%;
          position: relative;
          top: 10px;
          right: -15px; }
        body .main-menu-page-body .menu-title-and-owner-grid .content-details .menu-details {
          padding-left: 5%; }
          body .main-menu-page-body .menu-title-and-owner-grid .content-details .menu-details .menu-det-name {
            font-size: 23px;
            font-family: 'granary'; }
          body .main-menu-page-body .menu-title-and-owner-grid .content-details .menu-details .menu-det-details {
            width: 75%;
            margin-top: -15px;
            font-size: 13px;
            font-family: 'apercu';
            color: #626567; }
      body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column; }
        body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .announce-vendor {
          font-family: 'apercu';
          font-size: 11.5px;
          color: #ff183f;
          position: relative;
          left: 15%; }
        body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .vendor-details-main {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .vendor-details-main .content-avatar {
            height: 55px;
            width: 55px;
            border-radius: 50%;
            position: relative;
            bottom: -7px;
            -webkit-filter: grayscale(80%);
            filter: grayscale(80%); }
          body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .vendor-details-main .vendor-details-brief {
            position: relative;
            margin-top: -15px;
            padding-left: 8px; }
          body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .vendor-details-main .vendor-details-name {
            font-family: 'granary';
            font-size: 13.5px; }
          body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .vendor-details-main .vendor-details-bio-brief {
            margin-top: -5px;
            font-size: 11.5px;
            font-family: 'apercu';
            width: 75%; }
        body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .subscribe-button {
          font-size: 11.5px;
          font-family: 'apercu';
          color: #979A9A;
          margin-left: 15%;
          margin-top: -5px; }
          body .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .subscribe-button:hover {
            cursor: pointer;
            text-decoration: underline; }
    body .main-menu-page-body .main-meal-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body .main-menu-page-body .main-meal-list .main-meal-pointers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%; }
        body .main-menu-page-body .main-meal-list .main-meal-pointers .items-pointer {
          font-size: 14px;
          font-family: 'apercu';
          text-transform: uppercase; }
        body .main-menu-page-body .main-meal-list .main-meal-pointers .hover-pointer {
          font-size: 12.5px;
          font-family: 'apercu';
          color: #7B7D7D;
          position: relative;
          right: 7%; }
      body .main-menu-page-body .main-meal-list .main-menu-options-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        width: 50%;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -ms-flex-item-align: center;
        align-self: center;
        position: relative;
        padding-left: 3%;
        left: -4%; }
        body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
          body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item {
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            border-radius: 3px;
            position: absolute;
            background-color: white;
            top: 0;
            z-index: -1;
            opacity: 0;
            -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
            -webkit-box-shadow: 0 0 20px 7px #F2F3F4;
            box-shadow: 0 0 20px 7px #F2F3F4; }
            body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .main-meal-item-img {
              -ms-flex-preferred-size: 40%;
              flex-basis: 40%;
              width: 100%;
              height: 300px; }
            body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .item-title-and-description {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
              padding-left: 4%; }
              body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .item-title-and-description .item-title-main {
                font-family: 'gotham';
                font-size: 16px;
                margin-bottom: -6px;
                color: #1D2129;
                width: 90%; }
              body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .item-title-and-description .item-description {
                font-family: 'apercu';
                font-size: 13px;
                width: 90%;
                color: #4B4F56; }
            body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .buttons-array-and-togglers {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
              -ms-flex-preferred-size: 10%;
              flex-basis: 10%;
              border-top: 1px solid #efefef; }
              body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .buttons-array-and-togglers p {
                color: #90949C;
                font-family: 'acumin';
                font-size: 12.5px;
                opacity: 0.6; }
              body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .buttons-array-and-togglers .option-options {
                -ms-flex-preferred-size: 85%;
                flex-basis: 85%;
                padding-left: 5%; }
                body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .buttons-array-and-togglers .option-options:hover {
                  cursor: pointer;
                  color: #ff183f;
                  opacity: 0.8; }
              body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .buttons-array-and-togglers .option-options2 {
                -ms-flex-preferred-size: 15%;
                flex-basis: 15%; }
                body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item .buttons-array-and-togglers .option-options2:hover {
                  color: #4B4F56; }
          body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .hover-item-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 85%;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-preferred-size: 10%;
            flex-basis: 10%; }
            body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .hover-item-list .hover-item-items {
              -ms-flex-preferred-size: 90%;
              flex-basis: 90%;
              font-size: 14px;
              font-family: 'apercu';
              color: #626567; }
              body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .hover-item-list .hover-item-items:hover {
                cursor: pointer; }
            body .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .hover-item-list .hover-item-price {
              -ms-flex-preferred-size: 10%;
              flex-basis: 10%;
              font-size: 13px;
              font-family: 'granary';
              color: black; }
  body .fade-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 1 !important;
    z-index: 10 !important; }
  body .header {
    border-bottom: 1px solid  #efefef; }

@media only screen and (max-width: 480px) {
  .main-menu-page-body {
    padding-top: 3%; }
    .main-menu-page-body .menu-title-and-owner-grid {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -ms-flex-flow: column nowrap !important;
      flex-flow: column nowrap !important; }
      .main-menu-page-body .menu-title-and-owner-grid .content-details {
        width: 100% !important; }
        .main-menu-page-body .menu-title-and-owner-grid .content-details .content-avatar {
          height: 80px !important;
          width: 80px !important; }
        .main-menu-page-body .menu-title-and-owner-grid .content-details .menu-details {
          padding-left: 8% !important; }
          .main-menu-page-body .menu-title-and-owner-grid .content-details .menu-details .menu-det-name {
            font-size: 19px !important; }
          .main-menu-page-body .menu-title-and-owner-grid .content-details .menu-details .menu-det-details {
            width: 98% !important;
            font-size: 11.5px !important; }
      .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def {
        width: 100% !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 0 !important;
        position: relative;
        left: -5%; }
        .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .announce-vendor {
          left: -14.5% !important; }
        .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .vendor-details-main {
          -ms-flex-item-align: center;
          align-self: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding-left: 15%; }
          .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .vendor-details-main .vendor-details-bio-brief {
            width: 100% !important; }
        .main-menu-page-body .menu-title-and-owner-grid .vendor-details-def .subscribe-button {
          margin-left: -24% !important; }
    .main-menu-page-body .main-meal-list {
      margin: 16% 0 0 0 !important; }
      .main-menu-page-body .main-meal-list .main-meal-pointers {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
        flex-flow: column nowrap !important;
        padding-left: 6.5%; }
        .main-menu-page-body .main-meal-list .main-meal-pointers .hover-pointer {
          right: 0 !important;
          margin-top: -2%; }
      .main-menu-page-body .main-meal-list .main-menu-options-list {
        width: 100% !important;
        left: 5% !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: space-evenly !important;
        -ms-flex-align: space-evenly !important;
        align-items: space-evenly !important;
        position: relative; }
        .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item-price {
          position: relative;
          left: -15% !important; }
        .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item .display-menu-item {
          width: 70% !important; }
        .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item-list {
          width: 100% !important; }
          .main-menu-page-body .main-meal-list .main-menu-options-list .hover-item-list .hover-item-items {
            width: 100% !important; } }
